\def\timestamp{unknown}
{% set have_answer = True %}

{% if textbook == 'msu' and section == 11 and task <= 54 -%}
   {% set have_answer = False %}
   \newcommand\ca[1]{\cos{ #1 }\alpha}
   \newcommand\sa[1]{\sin{ #1 }\alpha}
{% endif %}

{% if textbook == 'ml' and section == 1 -%}
\def\limn{\lim\limits_{n\to\infty}}
\def\limx{\lim\limits_{x\to 0}} % change accordingly

Найдите предел \(\displaystyle \limn \)

{% endif %}

\begin{solution}

\end{solution}

{% if have_answer %}

\begin{answer}
  \inlinemath{}
\end{answer}

{% endif %}
